<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h1>Login</h1>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email" (keyup)='inputLoginField("email", $event)'>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password" (keyup)='inputLoginField("password", $event)'>
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/register" href="#">You don't have an account? Register</a>
      </div>
  
    </div>
  </div>